@page
@model Semesterprojekt.Pages.Workshops.EditWorkshopModel
@{
}
<form method="post">
    <div class="form-group">
        @* Fortæller hvilkket label den skal have her finder den id'et til workshopen. *@
        <label asp-for="@Model.Workshop.WorkshopId" class="control-lable"></label> 
        @* Gør så at der er et felt med, i dette tilfælde, id'et *@
        <input asp-for="@Model.Workshop.WorkshopId" class="form-control" />
        @* Sikkre sig at tjekke efter vis der sker en error, og class="text-danger" går at teksten bliver rød under felterne *@
        <span asp-validation-for="Workshop.WorkshopId" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Workshop.Navn" class="control-lable"></label>
        <input asp-for="@Model.Workshop.Navn" class="form-control" />
        <span asp-validation-for="Workshop.Navn" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Workshop.Pris" class="control-lable"></label>
        <input asp-for="@Model.Workshop.Pris" class="form-control" />
        <span asp-validation-for="Workshop.Pris" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Workshop.Lokation" class="control-lable"></label>
        <input asp-for="@Model.Workshop.Lokation" class="form-control" />
        <span asp-validation-for="Workshop.Lokation" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Workshop.Tid" class="control-lable"></label>
        <input asp-for="@Model.Workshop.Tid" class="form-control" />
        <span asp-validation-for="Workshop.Tid" class="text-danger"></span>

    </div>
    @* Laver en kanp der indsender data'en tilbage til programet *@
    <div class="form-group">
        <input type="submit" value="Update" Class="btn btn-primary" />
    </div>
</form>
@* Lavet et link under knappen der sender dig tilbage til kalenderen *@
<div>
    <a asp-page="/Workshop/Kalender">Tilbage til Kalenderen</a>
</div>