@page
@using Semesterprojekt.Models;
@model KalenderModel
@{
}
<style>

    body {
        background-color: #EEEDE9;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 96.5%;
        font-family: Helvetica, Arial, sans-serif;
    }



    /* required */
    .calendar {
        position: center;
        margin-left: 113px;
        border-radius: 4px;
        overflow: hidden;
        width: 900px;
        height: 450px;
        left: 50%;
        top: 50%;
        background-color: #ffffff;
        color: #333333;
    }


            .calendar h1 span {  /* gør at December bliver i sin side*/
                display: block;
            }

        .calendar .col { /*Gør at colonerne bliver del op rigtigt i kalenderen*/
            position: relative;
            float: left;
            height: 100%;
        }

            .calendar .col .content { /*sætter ellemrummet fra kandterne i boxen*/
                padding: 40px;
            }

            .calendar ul li { /*gør at listestilen står pænt, måned, dage og dato*/
                list-style: none;
            }

        .calendar .leftCol { /*gør at hele venstre side bliver vist/ størelse på kassen og baggrunds farve*/
            width: 40%;
            background-color: #F48989;
        }


        .calendar .notes p { /*giver en "border" en streg som deler note og #noten*/
            border-bottom: solid 1px rgba(255,255,255,0.4);
        }

        .calendar .notes input {
            background-color: #F48989;
            color: #ffffff;
            border: none;
            width: 200px;
        }

        .calendar .rightCol {
            width: 60%;
        }

            .calendar .rightCol h2 {
                color: #C7BEBE;
                text-align: right;
                margin-bottom: 70px;
            }

        .calendar .months li,
        .calendar .weekday li,
        .calendar .days li {
            float: left;
            text-transform: uppercase;
        }

            .calendar .months li a,
            .calendar .weekday li a,
            .calendar .days li a {
                display: block;
                color: #747978;
            }

            .calendar .months li a {
                font-size: 10px;
                color: #C7BEBE;
                text-align: center;
                width: 32px;
                margin-bottom: 20px;
            }

            .calendar .months li .selected {
                font-weight: bold;
                color: #747978;
            }

            .calendar .weekday li a {
                width: 55px;
                text-align: left;
                margin-bottom: 20px;
                font-size: 12px;
            }

        .calendar .days li {
            width: 55px;
        }

            .calendar .days li a {
                width: 36px;
                height: 24px;
                text-align: center;
                margin: auto auto;
                font-size: 13px;
                font-weight: bold;
                border-radius: 12px;
                margin-bottom: 10px;
                padding-top: 10px;
            }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
    
</style>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/Workshops/Kalender">Kalender</a>
    <a href="/Order">Order</a>
    <a href="/Kunder/GetAllKunder">Kunder</a>
</div>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>

<body>
<div class="calendar">

    <div class="col leftCol">
        <div class="content">
            <h1 class="date">Søndag<span>December 24</span></h1>
            <div class="notes">
                <p>
                    <input type="text" value="" placeholder="note" />
                </p>
                <ul class="noteList">
                    <li>Holder jul :D</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col rightCol">
        <div class="content">
            <h2 class="year">2023</h2>
            <ul class="months">
                <li><a href="#" title="Jan" data-value="1">Jan</a></li>
                <li><a href="#" title="Feb" data-value="2">Feb</a></li>
                <li><a href="#" title="Mar" data-value="3">Mar</a></li>
                <li><a href="#" title="Apr" data-value="4">Apr</a></li>
                <li><a href="#" title="Maj" data-value="5">Maj</a></li>
                <li><a href="#" title="Jun" data-value="6">Jun</a></li>
                <li><a href="#" title="Jul" data-value="7">Jul</a></li>
                <li><a href="#" title="Aug" data-value="8">Aug</a></li>
                <li><a href="#" title="Sep" data-value="9">Sep</a></li>
                <li><a href="#" title="Oct" data-value="10">Oct</a></li>
                <li><a href="#" title="Nov" data-value="11">Nov</a></li>
                <li><a href="#" title="Dec" data-value="12"class="selected">Dec</a></li>
            </ul>
            <div class="clearfix"></div>
            <ul class="weekday">
                <li><a href="#" title="Man" data-value="1">Man</a></li>
                <li><a href="#" title="Tir" data-value="2">Tir</a></li>
                <li><a href="#" title="Ons" data-value="3">Ons</a></li>
                <li><a href="#" title="Tor" data-value="4">Tor</a></li>
                <li><a href="#" title="Fre" data-value="5">Fre</a></li>
                <li><a href="#" title="Lør" data-value="6">Lør</a></li>
                <li><a href="#" title="Søn" data-value="7">Søn</a></li>
            </ul>
            <div class="clearfix"></div>
            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>


<br />
<br />
    <div class="row">
        <div class="col-4"><h5>Search Name</h5></div>
        <div class="col-4"><h5>Filter Price</h5></div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4">
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
                    <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="col-5">
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Min</span>
                    </div>
                    <input asp-for="MinPrice" class="form-control mr-1" />
                    <div class="input-group-prepend">
                        <span class="input-group-text">Max</span>
                    </div>
                    <input asp-for="MaxPrice" class="form-control mr-1" />
                    <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="col-2"></div>
    </div>

<div>
        <table class="table table-bordered table-hover table-striped" width="60%">
            <colgroup>
                <col style="width : 3%">
                <col style="width : 10%">
                <col style="width : 10%">
                <col style="width : 10%">
                <col style="width : 10%">
                <col style="width : 10%">
            </colgroup>
    <thead>
        <tr>
            <th>
                WorkshopId
            </th>
            <th>
                Navn
            </th>
            <th>
                Pris
            </th>
            <th>
                Lokation
            </th>
            <th>
                Tid
            </th>
            <th>
                Rediger/Slet
            </th>
        </tr>
    </thead>
    <tbody>
			@if (Model.Workshops != null)
			{
            foreach (var workshop in Model.Workshops)
                {
					<tr>
						<td>
							@workshop.WorkshopId 
						</td>
                        <td>
                            @workshop.Navn
                        </td>
                        <td>
                            @workshop.Pris
                        </td>
                        <td>
                            @workshop.Lokation
                        </td>
                        <td>
                            @workshop.Tid
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditWorkshop" asp-route-id="@workshop.WorkshopId" >Rediger</a>
                                <a class="btn btn-primary btn-sm" type="button" title="Delete" asp-page="DeleteWorkshop" asp-route-id="@workshop.WorkshopId">Slet</a> @* selve delete knappen *@
                        </td>
                    </tr>
                }
            }
    </tbody>
</table>
    </div>
    <p>
        <a class="btn btn-primary" asp-page="CreateWorkshop"> Opret en ny workshop </a>
    </p>

    


</body>