@page
@using Semesterprojekt.Models;
@model GetAllKunderModel
@{ 
}

<style>
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}

			.sidenav a:hover {
				color: #f1f1f1;
			}

		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}

	#main {
		transition: margin-left .5s;
		padding: 16px;
	}
</style>

@*<div> betyder sektion.
id="mySidenav" giver et id til <div>(bliver kun brugt en gang) som kan blive brugt til CSS
class="sidenav" giver en klasse til <div> som kan bruges til css de steder, der har det samme klasse navn. *@
<div id="mySidenav" class="sidenav">
	@* <a href="javascript:void(0)" laver et hyperlink, som ikke navigerer til en anden side, men gør noget, når man klikker på knappen.
	onclick="closeNav()">&times; = laver et kryds i sidenaven, som man kan trykke på for at komme ud af den igen *@
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	@* hyperlinks, der fører os ind på en anden del af hjemmesiden. *@
	<a href="/Workshops/Kalender">Kalender</a>
	<a href="/Order">Ordrer</a>
	<a href="/Kunder/GetAllKunder">Kunder</a>
</div>

@* "Åbn" knappen *@
<div id="main">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Åbn</span>
</div>

@* Javascript:
Når openNav() er kaldt ved at klikke på "Åbn", åbner den sidenaven.
Når closeNav() er kaldt ved at klikke på krydset, tager den os tilbage til startpositionen på siden. *@
<script>
	function openNav() {
		document.getElementById("mySidenav").style.width = "250px";
		document.getElementById("main").style.marginLeft = "250px";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
		document.getElementById("main").style.marginLeft = "0";
	}
</script>
@* Overskrift *@
<center><h1>Kunder</h1></center>
@* Tabellen med kunder *@
<body>
	<table class="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th>
					Navn
				</th>
				<th>
					Alder
				</th>
				<th>
					Telefonnummer
				</th>
				<th>
					Email
				</th>
				<th>
					Addresse
				</th>
				<th>
					Type
				</th>
				<th>
					Kunde Id
				</th>
				<th>
					Redigér/Slet
				</th>

			</tr>
		</thead>
	<hr >
	@* Knapperne til søg knap og søgefelt *@
		<form method="post" class="form-inline"> 
			<input asp-for="KundeidSearch" class="form-control mr-1" placeholder="Søg på kunde" style="margin-left:77px; width:100px;"/>
			<input type="submit" asp-page-handler="KundeidSearch" value="Søg" class="btn btn-primary" style="margin-top:-68px" />
		</form>
		<hr />
	

		<tbody>
			@* Items må ikke være null *@
			@if (Model.Items != null)
			{
				@* Foreach loop. Sløjfer gennem Items og sorterer objekter på Id, dvs. den nyeste/højeste vises som den øverste i tabellen. *@
				foreach (var item in Model.Items.OrderByDescending(i => i.id))
				{
					<tr>
						<td>
							@item.Kunde.Navn @* Har ændret Id fra private til public i Ordre.cs *@
						</td>

						<td>
							@item.Kunde.Alder
						</td>

						<td>
							@item.Kunde.Telefonnummer
						</td>

						<td>
							@item.Kunde.Email
						</td>

						<td>
							@item.Kunde.Adresse
						</td>
						<td>
							@item.Kunde.Type
						</td>
						<td>
							@item.Kunde.Kundeid
						</td>
					@* 	rediger og slet knap *@
						<td>
							<a class="btn btn-primary btn-sm" type="button" title="Edit"  style="margin-top: -10px;" asp-page="EditKunde" asp-route-Kundeid="@item.Kunde.Kundeid">Redigér</a>
							<br>
							<a class="btn btn-primary btn-sm" type="button" title="Delete" style="margin-bottom: -10px; width:82px;" asp-page="DeleteKunde" asp-route-Kundeid="@item.Kunde.Kundeid">Slet</a>
						</td>
					</tr>

				}
			}
		</tbody>
	</table>
</body>